/* ==========================================================================
   cover with 4 columns:; Fix to width equal
   ========================================================================== */

div.position-12 {
    margin-left: -22.875%;
}

div.position-8 {
    margin-left: -47.875%;
}

div.position-4 {
    margin-left: -72.875%;
}

/* Fix content alignment on mobile display when right column portlets is active (CA 22860) */
@media only screen and (min-width : 220px) and (max-width : 768px) {

    #portal-column-content {
        margin-left: -98.875% !important;
    }

}
